<tr>
    <td>
        <span class="fa fa-square-o selected" title="Select instance"></span>
    </td>
    <td>
        {{cloudType}}
    </td>
    <td title="{{id}}">
        {{name}}
    </td>
    <td>
        {{image.name}}
    </td>
    <td title="{{network.name}} {{network.cidr}}">
        {{network.address}}
    </td>
    <td>
        {{keyName}}
    </td>
    <td>
        {{state}}
    </td>
    <td>
        {{[../helpers/humanizedDuration] lastModified}}
    </td>
    <td>
        {{#if log }}
            <a href="#">Log</a>
        {{/if}}
    </td>
</tr>