<div>
    <div class="panel-heading" role="tab" id="{{id}}InstancesHeading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse"
               data-target="#{{id}}Instances" href="#{{id}}Instances"
               aria-expanded="true" aria-controls="{{id}}Instances">
                {{name}} ({{count}})
            </a>
        </h4>
    </div>
    <div id="{{id}}Instances" class="panel-collapse collapse in"
         role="tabpanel"
         aria-labelledby="{{id}}InstancesHeading">
        <div class="panel-body">
            {{! Instances table goes here }}
        </div>
    </div>
</div>
