<li class="dropdown">
    <button type="button" id="clouds" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fa fa-cloud"></span>
        Clouds
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {{#each this}}
            <li class="dropdown-header">{{name}}</li>
            {{#each projects}}
                {{#each regions}}
                    {{#if enabled}}
                        <li><a href="#"><span class="fa fa-check-square-o"></span> {{../../name}} - {{name}}</a></li>
                    {{else}}
                        <li><a href="#"><span class="fa fa-square-o"></span> {{../../name}} - {{name}}</a></li>
                    {{/if}}
                {{/each}}
            {{/each}}
        {{/each}}
    </ul>
</li>